.profile__avatar {
    margin-right: 30px;
    max-height: 120px;
    border-radius: 50%;
}

@media screen and (max-width: 680px) {
    .profile__avatar {
        max-height: 120px;
        margin: 0;
    }
}