.profile__info {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-right: auto;
}

@media screen and (max-width: 680px) {
    .profile__info {
        margin: 22.25px auto 36px;
        gap: 14px;
    }
}