.popup__text {
    margin: 0;
    padding: 0;
    margin-top: 25px;
    padding-bottom: 10px;
    background-color: white;
    
    
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.popup__text::placeholder {
    color: #212529;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }